@use './variables';

#about {
    background-color: variables.$light-pink;
    padding-bottom: 3rem;

    h1 {
        margin-top: 0;
        padding-top: 3rem;
        color: variables.$dark-blue;
    }
    .about-flex {
        display: flex;
        justify-content: space-evenly;

        img {
            width: 30%;
        }

        .about-text{
            width: 30%;
            color: variables.$dark-blue;
            display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 4rem;
            p {
                color: variables.$dark-blue;
                text-align: right;
                letter-spacing: 1mm;
            }
        }
    }
}
