@use "./variables";

html {
    font-size: 125%;
}

h1 {
    font-family: variables.$heading, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
}

h2 {
    font-family: variables.$subheading, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
}

img {
    max-width: 100%;
}

p {
    font-family: variables.$body, sans-serif;
    text-align: center;
    font-size: 16px;
}

li {
    list-style: none;
}

a {
    font-family: variables.$subheading;
    text-decoration: none;
}

button {
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 0.8rem;
    line-height: 1.2rem;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        // background-color: variables.$footer;
        // border: 2px solid variables.$footer;
        // color: variables.$contact;
    }

    &:focus {
        // background-color: variables.$footer;
        // border: 2px solid variables.$footer;
        // color: variables.$contact;
        // border-radius: 5%;
    }
}

fieldset,
input,
textarea {
    border: none;
    background-color: transparent;
    // font-family: variables.$body-font, sans-serif;
}

// CLASSES

.wrapper {
    width: 60%;
    margin: 0 auto;
    max-width: 1901px;
}


.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

#to-top {
    position: fixed;
    bottom: 15px;
    right: 16px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    // border: 2px solid variables.$accent;
    font-size: 25px;
    // color: variables.$accent;
    // background-color: variables.$button;
    text-decoration: none;
    display: none;

    i {
        font-size: 1.75rem;
    }

}

#to-top.active {
    display: flex;
    align-items: center;
    justify-content: center;
}