@use "./variables";

header {
    background-color: variables.$peach;
    height: 80vh;
    
    nav {
        background-color: variables.$dark-pink;
    }

    .container {
        margin: 0 auto;

        .navbar {
            min-height: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                margin-top: .5rem;
                margin-left: 1rem;
                width: 20%;
            }

            .nav-menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 60px;
                margin-right: 1rem;

                .nav-link {
                    letter-spacing: 2px;
                    color: variables.$link1;
                    transition: 0.3s ease-out;
                    font-size: 1rem;
                    padding: 20px;
                    margin-top: 1rem;
                }

                .nav-link:hover {
                    color: variables.$link2;
                    letter-spacing: 4px;
                }
            }
        }

        .hamburger {
            display: none;
            cursor: pointer;

            .bar {
                display: block;
                width: 25px;
                height: 3px;
                margin: 5px auto;
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
                background-color: white;
            }
        }
    }

    .header-slideshow {
        background-color: variables.$peach;
      
    ul {
        margin-top: 2rem;
        justify-content: center;
        margin-left: 3rem;

        li {
            margin-right: 0;
            
            img {
                width: 50%;
                border-radius: 10px;
            }
        }
        
    }
    
        // .carousel {
        //     position: relative;
        //     overflow: hidden;
            
        //     .carousel-container {
        //         position: relative;
                
        //         .product-list {
        //             position: relative;
        //             transition: transform 0.2s ease-in;
                
        //             li {
        //                 width: 100%;
        //                 margin: 0 auto;
        //                 padding: 20px 0;
        //                 position: absolute;
        //                 top: 0;
        //                 bottom: 0;
        //                 left: 0;
        //                 right: 0;
        //                 height: 450px;
                
        //                 img {
        //                     height: 250px;
        //                     width: 30%;
        //                     border-radius: 10px ;
        //                     object-fit: cover;
        //                     object-position: top;
        //                     margin: 0 auto;
        //                 }
        //             }
        //         }
        
        //     }
            
        //     .carousel-tracker {
        //         position: absolute;
        //         bottom: 50px;
        //         right: 50%;
        //         transform: translateX(50%);
        
        //         .indicator {
        //             border: solid 1px red;
        //             border-radius: 50%;
        //             height: 15px;
        //             width: 15px;
        //             margin: 0 5px;
        //             cursor: pointer;
        //             padding: 5px;
        
        //         }
        //     }
        // }
    }
}
