@use './variables';

/* MOBILE */
@media (max-width: 801px) {

    /* HEADER */
    header {
        nav {
            justify-content: flex-start;

            li {
                margin: 5rem;
            }

            .nav-menu {
                position: fixed;
                top: -200%;
                z-index: 9;
                flex-direction: column;
                justify-content: center;
                color: variables.$link1;
                background-color: variables.$dark-pink;
                width: 100%;
                font-size: 1.5rem;
                text-align: center;
                transition: 0.6s;
                margin-top: 0;
            }

            .nav-menu.active {
                top: 0;
            }


            .hamburger {
                display: block;
                padding-bottom: 3rem;
                margin-left: 1rem;
            }

            .hamburger.active .bar:nth-child(2) {
                opacity: 0;
            }

            .hamburger.active .bar:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }

            .hamburger.active .bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }

        }
    }
}