@use './variables';

#stores {
    background-color: variables.$purple;

    h1 {
        margin-top: 0;
        padding-top: 2rem;
    }
    
    .stores-container {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 80%;

        .stores-boxes {
            display: flex;
            flex-direction: column;
            height: 100%;
            border: 2px solid black;
            border-radius: 10px;
            margin: 2rem;
            padding: 1rem;

            p {
                font-size: 14px;
                margin: 10px;
            }
        }
    }

}