html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -1000px;
  z-index: 10;
  background: #fff;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
}

.skip-link:focus {
  left: 0;
  right: 0;
  text-align: center;
}

@font-face {
  font-family: "Museo Sans Bold";
  src: url(/assets/Fonts/MuseoSans_700.otf);
}
@font-face {
  font-family: "Museo Sans Medium";
  src: url(/assets/Fonts/MuseoSans_500.otf);
}
@font-face {
  font-family: "Museo Sans Light";
  src: url(/assets/Fonts/MuseoSans-300.otf);
}
html {
  font-size: 125%;
}

h1 {
  font-family: "Museo Sans Bold", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
}

h2 {
  font-family: "Museo Sans Medium", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
}

h3 {
  font-family: "Museo Sans Medium", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}

img {
  max-width: 100%;
}

p {
  font-family: "Museo Sans Light", sans-serif;
  text-align: center;
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  font-family: "Museo Sans Medium";
  text-decoration: none;
}

button {
  text-transform: uppercase;
  padding: 10px 15px;
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
fieldset,
input,
textarea {
  border: none;
  background-color: transparent;
  font-family: "Museo Sans Light", sans-serif;
}

.wrapper {
  width: 60%;
  margin: 0 auto;
  max-width: 1901px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  background-color: #F2C1AE;
  height: 80vh;
}
header nav {
  background-color: #BF6385;
}
header .container {
  margin: 0 auto;
}
header .container .navbar {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .navbar .logo {
  margin-top: 0.5rem;
  margin-left: 1rem;
  width: 20%;
}
header .container .navbar .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  margin-right: 1rem;
}
header .container .navbar .nav-menu .nav-link {
  letter-spacing: 2px;
  color: #57568C;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  font-size: 1rem;
  padding: 20px;
  margin-top: 1rem;
}
header .container .navbar .nav-menu .nav-link:hover {
  color: #f9e3e3;
  letter-spacing: 4px;
}
header .container .hamburger {
  display: none;
  cursor: pointer;
}
header .container .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

.header-slideshow {
  background-color: #F2C1AE;
}
.header-slideshow ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-slideshow ul img {
  width: 30%;
  border-radius: 10px;
}

#featured {
  background-color: #233A59;
}
#featured h1 {
  color: #D99191;
  margin-top: 4rem;
}
#featured .featured-container {
  margin-top: 2rem;
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#featured .featured-container .featured-box {
  background-color: #BF6385;
  height: 32rem;
  width: 20rem;
  margin: 1rem;
  border-radius: 15px;
  border: 4px solid #D99191;
}
#featured .featured-container .featured-box .featured-pic img {
  width: 300px;
  margin-top: 2rem;
  margin-left: 2.5rem;
  border-radius: 10px;
  border: 1px solid black;
}
#featured .featured-container .featured-box h3,
#featured .featured-container .featured-box p {
  text-align: center;
}
#featured .featured-container .featured-box a {
  font-weight: bold;
  color: #f9e3e3;
}
#featured .featured-container .featured-box .featured-content {
  display: flex-column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0.5rem;
}
#featured .featured-container .featured-box .featured-content h2 {
  border-bottom: 2px solid black;
}
#featured .featured-container .featured-box .featured-content .product-info {
  width: 90%;
}
#featured .featured-container .featured-box .featured-content .product-info .swatches {
  display: flex-column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
}
#featured .featured-container .featured-box .featured-content .product-info .swatches img {
  width: 30px;
  height: 30px;
  border: 1px white solid;
}
#featured .featured-container .featured-box .featured-content .product-info .swatches img:hover, #featured .featured-container .featured-box .featured-content .product-info .swatches img:focus {
  border: 2px black solid;
}
#featured .featured-container .featured-box .featured-content .product-info .swatches p {
  font-size: 0.75rem;
  margin-left: 1rem;
}
#featured .featured-container .featured-box .featured-content .product-info .size-list {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
#featured .featured-container .featured-box .featured-content .product-info .size-list .size {
  border: 2px solid white;
  border-radius: 50px;
  margin: 0.5rem;
}
#featured .featured-container .featured-box .featured-content .product-info .size-list .size:hover, #featured .featured-container .featured-box .featured-content .product-info .size-list .size:focus {
  border: 2px solid white;
  background-color: black;
  color: white;
}
#featured .featured-container .featured-box .featured-content .product-info .size-list .size p {
  padding: 10px;
  margin: 0;
}
#featured .featured-container .featured-box .featured-content .product-info .button-box {
  margin-top: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#featured .featured-container .featured-box .featured-content .product-info .button-box button {
  margin-top: 2rem;
  width: 50%;
  font-family: "Museo Sans Bold";
  background-color: #F2C1AE;
  border-radius: 10px;
}
#featured .featured-container .featured-box .featured-content .product-info .button-box button a {
  color: #57568C;
}

#about {
  background-color: #D99191;
  padding-bottom: 3rem;
}
#about h1 {
  margin-top: 0;
  padding-top: 3rem;
  color: #233A59;
}
#about .about-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
#about .about-flex img {
  width: 30%;
}
#about .about-flex .about-text {
  width: 30%;
  color: #233A59;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
}
#about .about-flex .about-text p {
  color: #233A59;
  text-align: right;
  letter-spacing: 1mm;
}

#stores {
  background-color: #57568C;
}
#stores h1 {
  margin-top: 0;
  padding-top: 2rem;
}
#stores .stores-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 80%;
}
#stores .stores-container .stores-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  border: 2px solid black;
  border-radius: 10px;
  margin: 2rem;
  padding: 1rem;
}
#stores .stores-container .stores-boxes p {
  font-size: 14px;
  margin: 10px;
}

#contact {
  background-color: #F2C1AE;
}
#contact h1 {
  color: #57568C;
  margin-top: 2rem;
}
#contact p {
  color: #233A59;
  padding-bottom: 1rem;
}
#contact ul {
  margin: auto;
  padding-bottom: 2rem;
  padding-left: 0;
}
#contact ul li i {
  font-size: 2rem;
  padding: 1rem;
  color: #57568C;
}
#contact ul li i:hover, #contact ul li i:focus {
  color: #233A59;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#contact a {
  color: #57568C;
  font-weight: bold;
}
#contact .form {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
#contact .form .submit-message {
  border: 5px solid #D99191;
  border-radius: 30px;
}
#contact .form .submit-message p {
  color: #233A59;
}
#contact .form .submit-message input,
#contact .form .submit-message textarea {
  border: 2px solid lavender;
  border-radius: 10px;
}
#contact .form .submit-message input {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 10px 20px;
  width: 45%;
  margin-left: 1.3rem;
}
#contact .form .submit-message input[type=email] {
  width: 80%;
  margin-left: 4rem;
}
#contact .form .submit-message textarea {
  width: 90%;
  padding: 15px 20px;
  margin-left: 2.1rem;
  margin-bottom: 2rem;
}
#contact .form .submit-message button {
  width: 50%;
  margin-left: 12rem;
  margin-bottom: 2rem;
  font-family: "Museo Sans Bold";
}

footer {
  background-color: #BF6385;
}